* {
  font-family: "Playfair Display", serif;
  background-color: #e3dad5;
}

/* HEADER */

#LOGO {
  font-weight: 600;
  font-size: 1.2 rem;
  border: 2px solid black;
  display: inline;
  padding: 5px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  color: black;
}

/* MAIN */

.IMG_martina {
  width: 20%;
}

/* FOOTER */

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}

/*Contact*/
form.formcaption {
  display: table;
}

div.formcaption {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}
