* {
  font-family: "Playfair Display", serif;
  background-color: #e3dad5;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
}

#LOGO {
  font-weight: 600;
  font-size: 1.2 rem;
  border: 2px solid black;
  display: inline;
  padding: 5px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

li {
  margin-left: 4rem;
}

a {
  color: black;
}

@media screen and (max-width: 465px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  ul {
    margin-top: 0;
  }
}

/* MAIN */

.IMG_martina {
  width: 20%;
}

@keyframes IMG_martina {
  40% {
    transform: rotate(-20deg) scale (1, 1);
  }
  25% {
    transform-scale: (1, 2);
  }
}
/* FOOTER */

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}

/*Contact*/
form.formcaption {
  display: table;
}

div.formcaption {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

/* MY PROJECTS */
.figure {
  margin-left: 0%;
}
.my-projects {
  width: 40%;
}

/* category */

@media screen and (min-width: 465px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 700px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* amination */

#mycircle {
  background-color: black;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 50%;
  animation-name: circle;
  animation-duration: 5s;
}
@keyframes circle {
  25% {
    transform: scale(1, 2);
  }

  40% {
    transform: rotate(-20deg) scale (1, 1);
  }
}
