* {
  font-family: "Playfair Display", serif;
  background-color: #e3dad5;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
}

#LOGO {
  font-weight: 600;
  font-size: 1.2 rem;
  border: 2px solid black;
  display: inline;
  padding: 5px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

li {
  margin-left: 4rem;
}

a {
  color: black;
}

/* MAIN */

.IMG_martina {
  width: 20%;
}

/* FOOTER */

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}

/*Contact*/
form.formcaption {
  display: table;
}

div.formcaption {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

/* MY PROJECTS */
.figure {
  margin-left: 0%;
}
.my-projects {
  width: 40%;
}
/* category */

.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
